html {
  background: #0090ce42;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;

  background-image: repeating-conic-gradient(#272727 0deg 25deg,
      #1b1b1b 25deg 50deg);

  box-shadow:
    inset 0 0 30px rgba(0, 0, 0, 0.7),
    0 0 25px rgba(0, 0, 0, 0.5);
}

.clock::after {
  content: "";
  position: absolute;
  top: 23%;
  /* minimal nach oben verschoben */
  right: 10%;
  /* Abstand vom rechten Rand */
  width: 20%;
  height: 55%;
  /* minimal länger als vorher */
  background: #ec0a0a80;
  z-index: 2;

  /* Trapez mit schrägen Linien oben und unten, rechte Seite rund */
  clip-path: polygon(0% 10%,
      /* linke obere Spitze */
      80% 0%,
      /* obere rechte Ecke */
      100% 50%,
      /* rechte Mitte */
      80% 100%,
      /* untere rechte Ecke */
      0% 90%
      /* linke untere Spitze */
    );

  /* Rechte Seite stärker abrunden */
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}












.inner-clock-face {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #1b1b1b;
  border-radius: 50%;
  z-index: 1;
}






/* Zentraler Punkt in der Mitte der Uhr */
.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #aaaaaa;
  transform-origin: black;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  /* Standardhöhe für alle Zeiger */
  background: black;
  position: absolute;
  top: 50%;
  /* WICHTIG: Dreht den Zeiger um das Ende an der 50%-Marke */
  transform-origin: 100%;
  transform: rotate(90deg);
  /* Initial 90 Grad, damit er nach oben zeigt, bevor JS greift */
  border-radius: 6px;
  transition: all 0.05s cubic-bezier(0, 0, 0.1, 1);
  /* Sanfter Übergang */
}

.hour-hand {
  width: 40%;
  /* vorher 25% → jetzt länger */
  height: 8px;
  background: #a70d0d;
  top: calc(50% - 4px);
  /* bleibt zentriert */
}

.min-hand {
  width: 60%;
  /* vorher 35% → länger */
  height: 6px;
  background: #b32626;
  top: calc(50% - 3px);
}

.second-hand {
  width: 70%;
  /* vorher 40% → länger */
  height: 2px;
  background: red;
  top: calc(50% - 1px);
}